{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Flask!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>
<h3>Games:</h3>
<table border="1" style="width:50%">
    <tr>
        <td>Time Slot</td>
        <td>Away</td>
        <td>@</td>
        <td>Home</td>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ game.time_slot }}</td>
        <td>{{ game.away_team }}</td>
        <td>@</td>
        <td>{{ game.home_team }}</td>
    </tr>  
    {% endfor %}
</table>


{% endblock %}


